
<h1 style="text-align: center;">ARITHMETIC</h1>
<h2>The Addition Would be:  @ViewData["Addition"]</h2>
<h2>The Subtraction Would be:  @ViewData["Subtraction"]</h2>
<h2>The Multiplication Would be:  @ViewData["Multiplication"]</h2>
<h2>The Division Would be:  @ViewData["Division"]</h2>

