<html>
    <head>
        <title>Login and Register Page</title>
    </head>

    <body>
        <h1>@ViewData["Description"]</h1>

        <p>
            <a asp-action="Login">Sign in</a>
            <a asp-action="Register">Sign up</a>
        </p>
    </body>
</html>
