@model Wipro_StronglyTypedView.Models.Employee

<html>
    <head>
        <title>Strongly Typed View Example Page</title>
    </head>

    <body>
        <h1>Employee Details</h1>
        <hr/>
        <h2>Employee ID:    @Model.EmpId</h2>
        <h2>Employee Name:    @Model.EmpName</h2>
        <h2>Employee Salary:    @Model.EmpSal</h2>
    </body>
</html>
